language: python
sudo: false

python:
  - &mainstream_python 3.6
  - 3.7
  - 3.8

env:
  global:
    - FLIT_USERNAME=aio-libs-bot
    - secure: "Kb3Rn6jiR6qOz2iUFNRtqWboGDG8QeboDW/RJScroSoSBEgo/+h/VHe/YzpX1hxmztEWGDchVjj91pPApxRK8l5cgTeOdGMwKEVDNegUbPXFpLaY04ZMZFKK+B2HfD6bIOlTD00P7Kyla8rp2QpRReJZYXFLv+OVFQmdLg5hzxDDOWUUMmQe3K62iwVaLyN1ytKAzsg/mx0ZZ3AAfhgSi/dGQ4kQgqC5SpM4EpfbK5POKPgbiiQtL0Hq5a4B+hn1Vk8kx2/WOlWQx5+gkMh6y3b6JiA+XGN8vA3sOk79vyassTdIBi26NxLM9Q3NOUKbFhuL4kVK+Bjm9rIX7zCSWuQNBtdPyQ9raNIhfqjXOi0/VGtiaD1HA0GwKdc4Fp3sfaueGIR9syol02G36H92UxegoQ5hAptyGnD8yNPhS+mkvR2c7Xb9XD2DkS4rC7bpydk2zTTMlkT9fbmsOlTHQ5pvuWtakTiid3cBvFx6bbQfOTSjfp3ig9yFwbMYnYHQWKzM4Lp/9RtRp82/km9+Bxs7rqoMe++TqwHvclx2hwxNqHq5caLmpjTSbLL8apOIG/eB9kPzteONYRH6lpl55GCspAhrAaXPuhgXI9F0+4oK89hEFVS8mMp265XK/XQdJVfHsDkEPr6EleSE0MKINO15U5QliY4QaYr/UT8lf2I="


install:
  - travis_retry pip install -U setuptools pip wheel codecov
  - travis_retry pip install -r requirements/ci.txt
  - flit install --symlink
script:
  - make test
  - codecov
  - PYTHONASYNCIODEBUG=x make test
  - codecov

_helpers:
- &_mainstream_python_base
  python: *mainstream_python
- &_reset_steps
  env: []
  before_install: skip
  install: skip
  script: skip
  after_success: []

jobs:
  include:
  - stage: lint
    <<: *_mainstream_python_base
    <<: *_reset_steps
    install:
      - travis_retry pip install -r requirements/lint.txt
      - flit install --symlink
    script:
      - make lint
  - stage: deploy
    if: tag IS present
    <<: *_mainstream_python_base
    <<: *_reset_steps
    install:
      - travis_retry pip install -r requirements/ci.txt
    script:
      - flit publish

stages:
  - lint
  - test
  - name: deploy
    # This will prevent deploy unless it's a tagged commit:
    if: tag IS present

cache: pip
